body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.d-grid{
  grid-template-columns: repeat(auto-fit, minmax(80px, 1fr));
  grid-auto-rows: 80px;
  grid-gap: 10px;
}

button.shadow{
  box-shadow: 0 .20rem 0.20rem rgb(0, 0, 0) !important;
  border: none;
}
button.border-0:focus{
  box-shadow: none !important;
}
button.shadow:active{
  box-shadow:none !important;
  background-color: hsl(240, 100%, 60%);
  transition: background-color 0.1s ;
}

#toggle{
  border-radius: 30px;
  transition: all .4s ease-in-out;
}

